:host
	.title-placeholder
		height: 1.8rem;
		margin-bottom: 0.5rem;
		width: 20%;

	.text-placeholder
		height: 4rem;
		margin-bottom: 1rem;

	.link-placeholder
		height: 1.25rem;
		width: 5rem;

	[class$='placeholder']
		background: #e4e9f2;
