<div style="background:white" class="row main">
        <ngx-cosmetics-outline-bar
                #outline
                class="mid-dots-nav"
                [catalog]="reportsService.root_catalog"
                (pointClick)="outlineClick($event)"
        ></ngx-cosmetics-outline-bar>
    <div>
        <div *ngIf="!page" class="innerSpin">
            <div></div>
        </div>
        <ngx-cosmetics-page *ngIf="page" [Page]="page"
                            (scrollIn)="outlineClick($event)"
                            (focusContentChange)="onContentChange($event)"
                            #article
        ></ngx-cosmetics-page>
    </div>
</div>
