.subtitle {
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: noto sans-serif;
    padding-top: 1rem;
}

:host(ipr-paragraph)

    .paragraph
        margin-left 2rem
        overflow-wrap break-word

    .subtitle
        h5
            font-size: 1.5rem;
            color: #0077b9;
            font-weight: 600;

    :host-context(ngx-cosmetics-page ipr-paragraph)

        .subtitle
            margin-bottom: 0;
            font-weight: 400;

            h5
                font-size: 1rem;
