<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column style="display: flex;flex-direction: column">

    <div class="header">
        <div class="left">
            <img class="avatar" src='https://img.xiaopiu.com/userImages/img291816204ffd590.png'>
        </div>
        <div class="right">
            <p class="title">{{report_header.name}}</p>
            <div class="introduce">
                <p>完成时间</p>
                <p>{{report_header.create_time.toLocaleString()}}</p>
                <p>完成机构</p>
                <p>{{report_header.agency}}</p>
                <p>涉及专利数量</p>
                <p>{{report_header.patent_count}}</p>
                <p>涉及行业领域</p>
                <p>{{report_header.domain}}</p>
            </div>
            <div>
                摘要
                <p>{{report_header.abstract}}</p>
            </div>
        </div>
    </div>
    <div class="body">
        <ipr-report-detail [pages]="page"></ipr-report-detail>
    </div>
    
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
