:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button.circle {
    background-color: #0077b9;
    border: 3px solid #acacac;
    border-radius: 100%;
    width: 24px; /* +6 for border */
    height: 24px;
    margin: auto;
    z-index: 1;
}

/*.circle {*/
/*display: flex;*/
/*position: relative;*/
/*}*/
.botLine {
    flex-grow: 1;
    /*transition: flex-grow 0.5s ease;*/
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botLine div {
    width: 0.9rem;
    height: calc(100% + 10px);
    position: relative;
    background: #e6e7e8;
    border-left: solid 3.5px #acacac;
    border-right: solid 3.5px #acacac;

}

.botLine.active div {
    background: #0077b9;
}

.botLine .progress {
    position: absolute;
    background-color: red;
    align-self: start;
}

:host button.circle.spin.level-1{
    background-color: #00d77f;
    width: 15px;
    height: 18px;
    border: 3px solid #acacac;
}
:host button.circle.spin.level-2{
    background-color: #a1a1e5;
    width: 12px;
    height: 16px;
    border: 2px solid #acacac;
}
