.mid-dots-nav {
    height: 640px;
    width: 34px;
    position: absolute;
    left: 34px;
    margin-left: -27px;
    overflow: hidden;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*.spin {*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*padding: 0;*/
/*}*/

/*.spin:hover {*/
/*color: blue;*/
/*}*/

/*.spin::before,*/
/*.spin::after {*/
/*top: 0;*/
/*left: 0;*/
/*}*/

/*.spin::before {*/
/*border: 4px solid transparent;*/
/*!*We 're animating border-color again*!*/
/*}*/

.spin:hover {
    border-top-color: #0077b9;
    /*Show borders border-right-color: #0077b9;*/
    border-bottom-color: #0077b9;
    transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}

/*.spin::after {*/
/*border: 0 solid transparent;*/
/*!*Makes border thinner at the edges ? I forgot what I was doing*!*/
/*}*/

/*.spin:hover::after {*/
    /*border-top: 4px solid #0077b9;*/
    /*!*Shows border *!*/
    /*border-left-width: 4px;*/
    /*!*Solid edges, invisible borders *!*/
    /*border-right-width: 4px;*/
    /*!*Solid edges, invisible borders *!*/
    /*transform: rotate(270deg);*/
    /*!*Rotate around circle *!*/
    /*transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;*/
    /*!*Solid edge post-rotation*!*/
/*}*/

.main {
    display: flex;
    height: 100%;
}
